html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.heresign a:link {
  color: #00386b;
  font-family: 'Rampart One', cursive;
  font-size: 45px;
  text-decoration: none;
  position: absolute;
  top: 436px;
  left: 685px;
  z-index: 1;
}

.heresign a:visited {
  color: #00386b;
  font-family: 'Rampart One', cursive;
  font-size: 45px;
  text-decoration: none;
  position: absolute;
  top: 436px;
  left: 685px;
  z-index: 1;
}

.heresign a:hover {
  color: white;
  font-family: 'Rampart One', cursive;
  font-size: 45px;
  text-decoration: none;
  position: absolute;
  top: 436px;
  left: 685px;
  z-index: 1;
}