* {
    margin: 0vh;
    padding: 0vh;
}

.background {
    height: 100vh;
    width: 175vh;
    background-image: url(IMGS/Drive-thru\ Theater.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.square {
    position: absolute;
    top: 94px;
    left: 440px;
    height: 500px;
    width: 910px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%, #ffcc70 100%);    
}
.minisquare {
    position: absolute;
    top: 124px;
    left: 440px;
    height: 50px;
    width: 240px;
    background-color: #87CEEB;
}

.posterintro {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    position: absolute;
    top: 126px;
    left: 455px;
}

.myprojtitle {
    color: #2B547E;
    font-family: 'Style Script', cursive;
    font-size: 30px;
    position: absolute;
    top: 200px;
    left: 605px;
}

.projtitle {
    color: #2B547E;
    font-family: 'Racing Sans One', cursive;
    font-size: 70px;
    position: absolute;
    top: 236px;
    left: 593px
}

.projtitle2 {
    color: #2B547E;
    font-family: 'Racing Sans One', cursive;
    font-size: 70px;
    position: absolute;
    top: 306px;
    left: 530px
}

.clickhere {
    color: #2B547E;
    font-family: 'Racing Sans One', cursive;
    font-size: 40px;
    position: absolute;
    top: 396px;
    left: 500px
}

.nextbutton {
    position: absolute;
    top: 460px;
    left: 645px;
    height: 55px;
    width: 155px;
    background: #87CEEB;
    border-radius: 10px;
}

.tickets {
    background-image: url(IMGS/tickets.png);
    background-position: center;
    position: absolute;
    top: 130px;
    right: 250px;
    width: 500px;
    height: 450px;
}