* {
    margin: 0vh;
    padding: 0vh;
}

.background {
    height: 100vh;
    width: 175vh;
    background-image: url(IMGS/Drive-thru\ Theater.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.square {
    position: relative;
    top: 94px;
    left: 440px;
    height: 50%;
    width: 60%;
    max-width: 910px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%, #ffcc70 100%);
    object-fit: cover;
}
.minisquare {
    position: absolute;
    top: 124px;
    left: 440px;
    height: 50px;
    width: 240px;
    background-color: #87CEEB;
}

.posterintro p {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    position: absolute;
    top: 126px;
    left: 455px;
}

.myprojtitle p {
    color: #2B547E;
    font-family: 'Style Script', cursive;
    font-size: 30px;
    position: absolute;
    top: 200px;
    left: 600px;
}

.projtitle p {
    color: #2B547E;
    font-family: 'Racing Sans One', cursive;
    font-size: 70px;
    position: absolute;
    top: 236px;
    left: 593px
}

.projtitle2 p {
    color: #2B547E;
    font-family: 'Racing Sans One', cursive;
    font-size: 70px;
    position: absolute;
    top: 306px;
    left: 530px
}

.clickhere p {
    color: #2B547E;
    font-family: 'Racing Sans One', cursive;
    font-size: 40px;
    position: absolute;
    top: 396px;
    left: 500px
}

.nextbutton a {
    position: absolute;
    top: 460px;
    left: 645px;
    height: 55px;
    width: 155px;
    background: #87CEEB;
    border-radius: 10px;
}

.heresign a:link {
    color: #2B547E;
    font-family: 'Rampart One', cursive;
    font-size: 45px;
    text-decoration: none;
    position: absolute;
    top: 452px;
    left: 662px;
    z-index: 1;
}

.heresign a:visited {
    color: #2B547E;
    font-family: 'Rampart One', cursive;
    font-size: 45px;
    text-decoration: none;
    position: absolute;
    top: 452px;
    left: 662px;
    z-index: 1;
}

.heresign a:hover {
    color: white;
    font-family: 'Rampart One', cursive;
    font-size: 45px;
    text-decoration: none;
    position: absolute;
    top: 452px;
    left: 662px;
    z-index: 1;
}

.tickets {
    background-image: url(IMGS/tickets.png);
    background-position: center;
    position: absolute;
    top: 170px;
    right: 385px;
    min-width: 400px;
    max-width: 400px;
    width: 25%;
    height: 30%;
}